<form class="modal-contents" id="log-in-form">
  <div class="form-group">
    <input type="email"
           class="form-control"
           id="user-email"
           name="user[email]"
           placeholder="Email address"
           autofocus>
  </div>

  <div class="form-group">
    <input type="password"
           class="form-control"
           id="user-password"
           name="user[password]"
           placeholder="Password">
  </div>

  <button type="submit" class="modal-button btn btn-primary" id="log-in-button">
    Log In
  </button>
</div>
