<div class="modal-contents" id="sign-up-container">
  <div class="form-group">
    <label for="user-name">Name</label>
    <input type="name"
           class="form-control"
           id="user-name"
           name="user[name]"
           placeholder="Name"
           autofocus>
  </div>

  <div class="form-group">
    <label for="user-email">Email address</label>
    <input type="email"
           class="form-control"
           id="user-email"
           name="user[email]"
           placeholder="Email"
           autofocus>
  </div>

  <div class="form-group">
    <label for="user-password">Password</label>
    <input type="password"
           class="form-control"
           id="user-password"
           name="user[password]"
           placeholder="Password">
  </div>

  <div class="form-group">
    <label for="user-password-confirmation">Password Confirmation</label>
    <input type="password"
           class="form-control"
           id="user-password-confirmation"
           name="user[password-confirmation]"
           placeholder="Password Confirmation">
  </div>
</div>
